# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/config/wsl/bash/.bash_aliases_backup
/app/taggable/server/openliberty/export/.env
/app/taggable/server/openliberty/export/database-env/database.env

# Eclipse
.classpath/
.classpath
.factorypath/
.factorypath
.project
.project/
.settings
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

bin/
/.apt_generated/
/.apt_generated_tests/
